body {
    font-family: 'Lobster Two', cursive;
    margin: 10px auto 10px auto;
    width: 400px;
    background: lightblue;
}

header { 
   border: solid #9933FF 2px; 
   border-radius: 10px;
   text-align: center;

}

div {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section {
    border: solid 2px #9933FF;
    border-radius: 10px;
    margin-top: 10px; 
}

h2 {
    margin: 15px;
    font-size: xx-large;
    text-align: center;
}

button {
    font-size: x-large;
    margin: 5px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background: #CCE5FF;
    border: solid 1px #9933FF;
    font-family: 'Lobster Two', cursive; /* was not working without - when only defined in <body>*/
}

/* not in use 
#myButton {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%)
};

#myButton:hover { 
    background-position: right center; 
} */

#nameInputField {
    background: #CCE5FF;
    width: 200px;
    height: 30px;
    border: solid 1px #9933FF;
    border-radius: 10px;
    height: 40px;
    font-size: x-large;
    font-family: 'Lobster Two', cursive; /* was not working without - when only defined in <body>*/
}

.stroked{ text-decoration: line-through; }

.scratched {
    text-decoration: line-through;
    opacity: 0.5;
  }

  li {
      font-size: x-large;
  }